@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: var(--base-50);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-500);
  --primary-foreground: var(--color-black);
  --secondary: var(--secondary-700);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-100);
  --muted-foreground: var(--base-600);
  --accent: var(--base-100);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-500);
  --chart-1: var(--primary-500);
  --chart-2: var(--secondary-700);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --radius: 0.5rem;
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-500);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-50);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-500);
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-900);
  --card-foreground: var(--base-200);
  --popover: var(--base-900);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-500);
  --primary-foreground: var(--color-black);
  --secondary: var(--secondary-700);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-800);
  --muted-foreground: var(--base-300);
  --accent: var(--base-800);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-500);
  --chart-1: var(--primary-500);
  --chart-2: var(--secondary-700);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-500);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--primary-500);
}

@theme inline {
  --color-base-100: oklch(0.9699 0.0147 65.83);
  --color-base-200: oklch(0.9213 0.0294 66.14);
  --color-base-300: oklch(0.869 0.0441 66.83);
  --color-base-400: oklch(0.7087 0.0529 66.88);
  --color-base-500: oklch(0.5531 0.0573 68.63);
  --color-base-600: oklch(0.4441 0.0559 70.11);
  --color-base-700: oklch(0.3739 0.0514 69.09);
  --color-base-800: oklch(0.2686 0.0441 67.04);
  --color-base-900: oklch(0.2156 0.0329 66.89);
  --color-base-950: oklch(0.146 0.0252 65.24);
  --color-base-1000: oklch(0.1007 0.0182 65.81);

  --color-primary-50: oklch(0.9886 0.0127 97);
  --color-primary-100: oklch(0.966 0.0343 97.5);
  --color-primary-200: oklch(0.9301 0.0677 97.19);
  --color-primary-300: oklch(0.886 0.0954 93.22);
  --color-primary-400: oklch(0.8342 0.1061 86.3);
  --color-primary-500: oklch(0.7374 0.1036 74.05);
  --color-primary-600: oklch(0.6699 0.0968 62.67);
  --color-primary-700: oklch(0.5551 0.0864 53.34);
  --color-primary-800: oklch(0.4742 0.0727 50.11);
  --color-primary-900: oklch(0.4163 0.0597 48.84);
  --color-primary-950: oklch(0.2812 0.0411 47.67);
  --color-primary-1000: oklch(0.1931 0.029 46.91);

  --color-secondary-50: oklch(0.9822 0.0127 67.69);
  --color-secondary-100: oklch(0.9567 0.032 66.55);
  --color-secondary-200: oklch(0.9106 0.0647 65.34);
  --color-secondary-300: oklch(0.8552 0.0989 62.61);
  --color-secondary-400: oklch(0.7842 0.1257 60.33);
  --color-secondary-500: oklch(0.7331 0.1367 57.55);
  --color-secondary-600: oklch(0.6548 0.1374 55.39);
  --color-secondary-700: oklch(0.5648 0.1224 53.29);
  --color-secondary-800: oklch(0.4712 0.1003 50.88);
  --color-secondary-900: oklch(0.4106 0.08 49.68);
  --color-secondary-950: oklch(0.2717 0.0529 48.61);
  --color-secondary-1000: oklch(0.1814 0.0351 47.39);

  --font-sans: var(--font-geist-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

button:not(:disabled) {
  @apply cursor-pointer;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground selection:bg-primary selection:text-primary-foreground;
  }
}
